<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.6">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.1-SNAPSHOT">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://mark-pc1.markwaite.net/var/lib/git/mwaite/bugs/JENKINS-20941.git</url>
        <credentialsId>9de9b830-e603-4b53-9583-389baf1c6cbf</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <browser class="hudson.plugins.git.browser.GitWeb">
      <url>http://mark-pc1/gitweb/?p=mwaite/bugs/JENKINS-20941git</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CheckoutOption>
        <timeout>1</timeout>
      </hudson.plugins.git.extensions.impl.CheckoutOption>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>false</noTags>
        <reference></reference>
        <timeout>1</timeout>
      </hudson.plugins.git.extensions.impl.CloneOption>
      <hudson.plugins.git.extensions.impl.SubmoduleOption>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>true</recursiveSubmodules>
        <trackingSubmodules>false</trackingSubmodules>
        <timeout>1</timeout>
      </hudson.plugins.git.extensions.impl.SubmoduleOption>
      <hudson.plugins.git.extensions.impl.CleanCheckout/>
      <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
      <hudson.plugins.git.extensions.impl.AuthorInChangelog/>
      <hudson.plugins.git.extensions.impl.Credentials>
        <url>git@bitbucket.org:markewaite/bin.git</url>
        <credentialsId>ff120678-cbd2-453a-878a-2c7aba65d342</credentialsId>
      </hudson.plugins.git.extensions.impl.Credentials>
      <hudson.plugins.git.extensions.impl.Credentials>
        <url>git@github.com:MarkEWaite/bin.git</url>
        <credentialsId>9de9b830-e603-4b53-9583-389baf1c6cbf</credentialsId>
      </hudson.plugins.git.extensions.impl.Credentials>
      <hudson.plugins.git.extensions.impl.DefaultCredentials>
        <credentialsId>9de9b830-e603-4b53-9583-389baf1c6cbf</credentialsId>
      </hudson.plugins.git.extensions.impl.DefaultCredentials>
      <hudson.plugins.git.extensions.impl.Credentials>
        <url>https://MarkEWaite@github.com/MarkEWaite/bin.git</url>
        <credentialsId>5f5e3af5-b6b4-4540-8ea4-332d76d2caa9</credentialsId>
      </hudson.plugins.git.extensions.impl.Credentials>
    </extensions>
  </scm>
  <quietPeriod>0</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <org.jenkinsci.plugins.elasticaxisplugin.ElasticAxis plugin="elastic-axis@1.2">
      <name>label</name>
      <values>
        <string>debian8-debian8</string>
        <string>coleen-pc3</string>
        <string>debian8-debian7</string>
        <string>debian8-ubuntu12</string>
        <string>waite2011</string>
        <string>tropicana</string>
        <string>win7x64a</string>
        <string>win7x86a</string>
        <string>mark-pc1-debian7</string>
        <string>alanmwaite-pc</string>
        <string>wheezy64b</string>
        <string>debian8x86a</string>
        <string>mark-pc1-debian8</string>
        <string>win10x64b</string>
        <string>mark-pc1-ubuntu12</string>
        <string>win10x64a</string>
        <string>centos7x64</string>
        <string>ubuntu14b</string>
        <string>ubuntu14c</string>
        <string>freebsd86a</string>
        <string>centos7x64b</string>
        <string>debian8</string>
        <string>ubuntu14c-ubuntu12</string>
        <string>master</string>
      </values>
      <label>(linux &amp;&amp; (!Debian-6.0.10 &amp;&amp; !CentOS-6.7)) || (windows) || freebsd86a </label>
      <ignoreOffline>true</ignoreOffline>
    </org.jenkinsci.plugins.elasticaxisplugin.ElasticAxis>
  </axes>
  <builders>
    <hudson.plugins.xshell.XShellBuilder plugin="xshell@0.10">
      <commandLine>python check.py</commandLine>
      <executeFromWorkingDir>false</executeFromWorkingDir>
      <regexToKill></regexToKill>
      <timeAllocated></timeAllocated>
    </hudson.plugins.xshell.XShellBuilder>
  </builders>
  <publishers>
    <hudson.plugins.warnings.WarningsPublisher plugin="warnings@4.51">
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>true</canRunOnFailed>
      <usePreviousBuildAsReference>false</usePreviousBuildAsReference>
      <useStableBuildAsReference>false</useStableBuildAsReference>
      <useDeltaValues>false</useDeltaValues>
      <thresholds plugin="analysis-core@1.75">
        <unstableTotalAll>0</unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <dontComputeNew>true</dontComputeNew>
      <doNotResolveRelativePaths>true</doNotResolveRelativePaths>
      <includePattern></includePattern>
      <excludePattern></excludePattern>
      <messagesPattern></messagesPattern>
      <parserConfigurations/>
      <consoleParsers>
        <hudson.plugins.warnings.ConsoleParser>
          <parserName>python-test</parserName>
        </hudson.plugins.warnings.ConsoleParser>
      </consoleParsers>
    </hudson.plugins.warnings.WarningsPublisher>
  </publishers>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>