<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>See &lt;a href=&quot;https://issues.jenkins-ci.org/browse/JENKINS-22457&quot;&gt;JENKINS-22457&lt;/a&gt; for bug report details</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>15</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:MarkEWaite/JENKINS-22457-included-region-ignored.git</url>
        <credentialsId>9de9b830-e603-4b53-9583-389baf1c6cbf</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/MarkEWaite/JENKINS-22457-included-region-ignored.git</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.DisableRemotePoll/>
      <hudson.plugins.git.extensions.impl.PathRestriction>
        <includedRegions>scripts/.*</includedRegions>
        <excludedRegions></excludedRegions>
      </hudson.plugins.git.extensions.impl.PathRestriction>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.xshell.XShellBuilder plugin="xshell@0.10">
      <commandLine>echo hello world</commandLine>
      <executeFromWorkingDir>false</executeFromWorkingDir>
      <regexToKill></regexToKill>
      <timeAllocated></timeAllocated>
    </hudson.plugins.xshell.XShellBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
